<h1>Listing houses</h1>

<table>
  <thead>
    <tr>
      <th>House name</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Address</th>
      <th>Phone number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= house.house_name %></td>
        <td><%= house.longitude %></td>
        <td><%= house.latitude %></td>
        <td><%= house.address %></td>
        <td><%= house.phone_number %></td>
        <td><%= link_to 'Show', house %></td>
        <td><%= link_to 'Edit', edit_house_path(house) %></td>
        <td><%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New House', new_house_path %>
