<%= form_for(@whos_home_request) do |f| %>
  <% if @whos_home_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@whos_home_request.errors.count, "error") %> prohibited this whos_home_request from being saved:</h2>

      <ul>
      <% @whos_home_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :num_recipients %><br>
    <%= f.number_field :num_recipients %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
